/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.radio-button {
  display: inline-block;
}

.height-text {
  display: block;
  line-height: 100%;
  min-width: 100%;
}

div.form {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.xml{
    text-align:left;
}

.group {
  display: inline-block;
  min-width: 100%;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
